body {
    background-color: #23262e;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "JetBrains Mono";
}

.card {
    background-color: #444a59;
}
.break {
    margin-top: 256px;
    margin-bottom: 256px;
}

.card:hover {
    transform: scale(1.05);
}

body .container {
    max-width: 1220px;
    padding: 20px;
}

footer .container {
    max-width: 820px;
    padding: 20px;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    padding: 16px;
    font-size: 18px;
    background-color: #1b1d23;
}

footer h2 {
    color: #929395;
    font-size: 16px;
}

footer a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
}

body .container h1 {
    font-size: 128px;
}
